[submodule "dev/nixos-hardware"]
	path = dev/nixos-hardware
	url = git@github.com:coreyoconnor/nixos-hardware
	branch = dev
[submodule "dev/retronix"]
	path = dev/retronix
	url = git@github.com:coreyoconnor/retronix
	branch = dev
[submodule "dev/sway-gnome"]
	path = dev/sway-gnome
	url = git@github.com:coreyoconnor/sway-gnome
	branch = dev
[submodule "dev/nixpkgs"]
	path = dev/nixpkgs
	url = git@github.com:coreyoconnor/nixpkgs
	branch = dev
